<nav>
  <div class="busqueda">
    <button class="enviardatos" mat-button routerLink = "">Ingresar Información</button>
    <button class="paginformacion" mat-button routerLink="/paginformacion">Información</button>
    <button class="infoparoscardiacos" mat-button>¿Qué son los páros cardiacos?</button>
  </div>
</nav>

<div class="contenedor">
  <p>El <span>paro cardiaco</span> es la cesación de la función de bomba del corazón. 
    La principal causa de paro cardíaco es el infarto. También hay causas extracardíacas que pueden llevar al paro
    cardíaco como la hipoxia en el ahogado o la hipovolemia en una hemorragia.
  </p>
  <p>
    El mecanismo más frecuente de paro cardiaco, como consecuencia de un infarto, es una arritmia muy grave llamada
    fibrilación ventricular. Esta arritmia puede presentarse como consecuencia de la falta brusca de oxígeno provocada
    por
    la oclusión de una arteria coronaria.
  </p>
</div>
