div.logo {
  text-align: center;
}


img {
  width: 50%;
}

/* busqueda{
    display: flex;
    align-content: flex-end;
}

button{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}

nav{
    padding:10px 0;
}

button:hover{
    background-color: rgb(255, 87, 87);
    text-decoration: none;
} */
