div.logo {
  text-align: center;
}

nav {
  background-color: red;
}

img {
  width: 50%;
}

informacion{
    display: flex;
    align-content: flex-end;
}

a{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    padding:10px 0;
}

a:hover{
    background-color: rgb(255, 87, 87);
    text-decoration: none;
}
